.error {
    background-color: pink;
    text-align: center;
    padding: 18px;
    display: none;
}
.error1 {
    text-align: center;
    display: none;
}
.error2 {
    text-align: center;
    display: none;
}
.error3 {
    text-align: center;
    display: none;
}
.error4 {
    text-align: center;
    display: none;
}
.error5 {
    text-align: center;
    display: none;
}
.error6 {
    text-align: center;
    display: none;
}
.error7 {
    text-align: center;
    display: none;
}
.eror {
    background-color: green;
    text-align: center;
    padding: 18px;
    display: none;
}